<div class="nav-container">
  <div class="bar bar--sm visible-sm visible-xs">
    <div class="container">
      <div class="row">
        <div class="col-xs-3 col-sm-2">
          <a href="/delahousse/">
            <img class="logo logo-dark" alt="logo" src="assets/img/logo/product_logo.png">
          </a>
        </div>
        <div class="col-xs-9 col-sm-10 text-right">
          <a href="#" class="hamburger-toggle" data-toggle-class="#menu2;hidden-xs hidden-sm">
            <i class="icon icon--sm stack-interface stack-menu"></i>
          </a>
        </div>
      </div>
        <!--end of row-->
    </div>
    <!--end of container-->
  </div>
  <!--end bar-->
  <nav id="menu2" class="bar bar-2 hidden-sm hidden-xs bar--transparent bar--absolute">
    <div class="container">
      <div class="row">
        <div class="col-md-2 text-center text-left-sm hidden-sm hidden-xs col-md-push-5">
          <div class="bar__module">
            <a href="/delahousse/">
              <img class="logo logo-dark" alt="logo" src="assets/img/logo/g3344.png">
              <img class="logo logo-light" alt="logo" src="assets/img/logo/g3366.png">
            </a>
          </div>
          <!--end module-->
        </div>
        <div class="col-md-5 col-md-pull-2">
          <div class="bar__module">
            <ul class="menu-horizontal text-left">
              {% for item in site.data.nav.main %}
                <li>
                    <a href="{{ item.url }}">{{ item.text }}</a>
                </li>
              {% endfor %}
              {% for item in site.data.social.accounts %}
                <li class="hidden-md hidden-lg">
                  <a href="{{ item.url }}" target="_blank">{{ item.name }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <!--end module-->
        </div>
        <div class="col-md-5 text-right text-left-xs text-left-sm hidden-sm hidden-xs">
          <div class="bar__module">
            <ul class="menu-horizontal text-right">
              {% for item in site.data.social.accounts %}
                <li>
                  <a href="{{ item.url }}" target="_blank">
                    <i class="socicon socicon-{{ item.name }} icon icon--xs"></i>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </nav>
  <!--end bar-->
</div>
<section class="cover height-80 imagebg text-center slider" data-arrows="true" data-paging="true">
  <ul class="slides">
    <li class="imagebg" data-overlay="1">
      <div class="background-image-holder background--top">
          <img alt="background" src="assets/img/plank.jpg" />
      </div>
    </li>
    <li class="imagebg" data-overlay="1">
      <div class="background-image-holder background--top">
          <img alt="background" src="assets/img/boat_cave.jpg" />
      </div>
    </li>
  </ul>
</section>
