/*! Place your custom styles here */
@font-face {
  font-family: futuraStdBook;
  src: url('../fonts/FuturaStd-Book.otf');
}

body {
  font-family: futuraStdBook;
}

.bar-2 .logo {
  max-height: 2.5em;
}

.logo {
  font-size: 50px;
}

#menu2 li a {
  text-transform: uppercase;
  font-weight: 900;
}
