/*! Place your custom styles here */
@font-face {
  font-family: futuraStdBook;
  src: url('../fonts/FuturaStd-Book.otf');
}

body {
  font-family: futuraStdBook;
}

.bar-2 .logo {
  max-height: 3.5em;
}

.logo {
  font-size: 50px;
}

#menu2 li a {
  text-transform: uppercase;
  font-weight: 900;
}

hr.mid {
  width: 30%;
}

.center{
  margin-left: auto;
  margin-right: auto;
}

img.medaille {
  position: absolute;
  right: 1em;
  bottom: 1em;
  margin-bottom: 0;
  width: 15vw;
  z-index: 2;
}

img.logo-slider {
  position: absolute;
  z-index: 2;
  margin-top: 1em;
  left: 50%;
  margin-left: -3.5em;
}
