<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>DelaHoussaye Provence | {{ page.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i%7CMaterial+Icons" rel="stylesheet">

    <!-- Styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="assets/css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
    <link href="assets/css/socicon.css" rel="stylesheet" type="text/css" media="all" />
    <link href="assets/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="assets/css/flickity.css" rel="stylesheet" type="text/css" media="all" />
    <link href="assets/css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
    <link href="assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="assets/css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="assets/css/spinner.css" rel="stylesheet" type="text/css" media="all" />


    <meta property="og:type"               content="website" />
    <meta property="og:url"                content="http://www.delahoussayeprovence.com/" />
    <meta property="og:title"              content="DelaHoussaye Provence" />
    <meta property="og:description"        content="With an obsession for beauty and quality DelaHoussaye Provence captures the relaxed, idyllic and inspirational lifestyle of the South of France with a fresh, exciting and stylish approach. Creating an ultra premium rosé with the very best in everything, being our complete focus." />
    <meta property="og:image"              content="http://www.delahoussayeprovence.com/assets/img/slide4.jpg" />
  </head>

  <body class=" " data-smooth-scroll-offset='180'>
    <a id="start" data-scroll-id="start" tabindex="-1" style="outline: none;"></a>
    {% include nav.html %}

    <div class="main-container">
      {{ content }}
    </div>

     {% include footer.html %}
    <!--<div class="loader"></div>-->
    <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
        <i class="stack-interface stack-up-open-big"></i>
    </a>
    <div id="loader">
      <img class="spinner" alt="logo" src="assets/img/logo/spinner_logo_big.png">
    </div>
    <!-- Scripts -->
    <script src="assets/js/jquery-3.1.1.min.js"></script>
    <script src="assets/js/flickity.min.js"></script>
    <script src="assets/js/easypiechart.min.js"></script>
    <script src="assets/js/parallax.js"></script>
    <script src="assets/js/typed.min.js"></script>
    <script src="assets/js/datepicker.js"></script>
    <script src="assets/js/isotope.min.js"></script>
    <script src="assets/js/ytplayer.min.js"></script>
    <script src="assets/js/lightbox.min.js"></script>
    <script src="assets/js/granim.min.js"></script>
    <script src="assets/js/countdown.min.js"></script>
    <script src="assets/js/twitterfetcher.min.js"></script>
    <script src="assets/js/spectragram.min.js"></script>
    <script src="assets/js/smooth-scroll.min.js"></script>
    <script src="assets/js/scripts.js"></script>
    <script src="assets/js/spinner.js"></script>
    <script src="assets/js/custom.js"></script>
  </body>
</html>
